/* Layout */
body{background-color: #000; color: #fff; font-family: "Monaco"; font-size: 10px;}
#content{width: 760px; margin: 0 auto 0 auto; border: 1px solid #000;}
#header{border-bottom: 1px solid #fff; float: left; width: 760px; margin: 12px 0 12px 0;}
#header h2{font-size: 12px; float: left; margin: 0 0 3px 0;}
#header span{font-size: 10px; float: right; margin: 3px 0 0 0;}

h1{color: #fff; font-size: 20px; margin: 15px 0 10px 0;}
h2{color: #fff;}
a{color: #80FF00;}

/* Form styles */
form{width: 502px;}
label{display:block;}
label{margin: 10px 0 0 0;}
input, textarea{border: 1px solid #ccc; background-color: #222; color: #fff; width: 500px; margin: 3px 0 0 0;}
.error-message {color:#a00;}
.input.error input, .input.error textarea, .input.error select {border:1px solid #a00;}
.submit input{margin: 10px -2px 0 0; padding: 0 20px 0 20px; width: auto; float: right;}

/* Tag cloud */
ul.cloud{padding: 0; margin: 0; list-style-type: none;}
ul.cloud li{display: inline;}