/* Layout */
body{background: #000 url(images/bg.jpg) no-repeat center top; color: #fff; font-family: "Monaco"; font-size: 10px;}
#content{width: 760px; margin: 20px auto 0 auto;}
#header{border-bottom: 1px solid #fff; float: left; width: 760px; margin: 12px 0 10px 0;}
#header h2{font-size: 12px; float: left; margin: 0 0 3px 0;}
#header span{font-size: 10px; float: right; margin: 3px 0 0 0;}
#header a{text-decoration: none;}

h1{color: #fff; font-size: 20px; margin: 15px 0 10px 0;}
h2{color: #fff; font-size:20px; margin: 15px 0 10px 0;}
a{color: #80FF00;}
a:hover{color:#c6ff00;}
ul{list-style-position: inside; margin: 0; padding: 0;}
li.alt{background-color: #222;}

/* Form styles */
form{width: 502px;}
label{display:block;}
label{margin: 10px 0 0 0;}
input, textarea{border: 1px solid #ccc; background: #222; color: #fff; width: 500px; margin: 3px 0 0 0;}
.error-message{color:#c00;}
.input.error input, .input.error textarea, .input.error select{border:1px solid #c00;}
.submit input{margin: 10px -2px 0 0; padding: 0 20px 0 20px; width: auto; float: right;}

/* Tag cloud */
ul.cloud{padding: 0; margin: 0 0 35px 0; list-style-type: none; border: 1px solid #ccc; background: #222; color: #fff; padding:10px;}
ul.cloud li{display: inline;}

#flashMessage {border: 1px solid #ccc; background: #222; color: #fff; margin: 3px 0; padding:5px;}
.clear{clear:both;}
a.button{font-size:14px; border: 1px solid #ccc; padding:5px; background: #111; color: #80FF00; text-decoration:none; float: right; margin: -30px 0 0 10px;}
a.flush.button{margin-top: 0;}
a.button:hover {border:1px solid #80FF00;}
ul.snippets{margin:20px auto; font-size:14px;}
ul.snippets span{float:right;}
ul.snippets li{display: block;}
ul.inline{padding: 0; margin: 0;}

dt{clear:left; float:left; display:block; width:90px; font-weight:bold; margin:0 0 15px 0;}
dd{float:left;}